.shopcategory-products{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 12px;
}
.shopcategory-products img{
    width: 200px;
    padding: 12px;;
}
.Items{
    border-radius: 12px;
    padding: 10px;
}